<a href="https://colab.research.google.com/github/Belaschich/Mini_Projeto_SoulCode/blob/main/Mini_Projeto_Final_Izabela_Schich.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importando o Pandas
import pandas as pd

In [ ]:
#Importando o Dataframe a ser usado google cloud

df = pd.read_csv("/content/drive/MyDrive/DADOS/Dados mini_projeto/marketing_campaign.csv.csv", sep=",")
df.head(1)

In [ ]:
#Fazendo uma Copia do Dataframe 
df_copy = df.copy()
df1 = df

In [ ]:
#Analisando os Tipos existentes no dataframe
df1.dtypes

In [ ]:
#Renomeando as Colunas para o Português
df1.rename(columns={'ID': 'ID_Clientes', 'Year_Birth': 'Ano_Nacimento' , 'Education' : 'Educacao', 'Marital_Status': 'Estado_Civil' , 'Income' : 'Renda_Anual', 'Kidhome': 'Qts_Criancas' , 'Teenhome' : 'Qts_Adolecentes', 'Dt_Customer': 'Data_Cadastro' , 'Recency' : 'Dias_desde_ultima_compra', 'MntWines': 'Qt_Vinho_Comprado' , 'MntFruits' : 'Qt_Fruta_Comprada', 'MntMeatProducts': 'Qt_Carne_comprada' , 'MntFishProducts' : 'Qt_Produto_pesca_comprada', 'MntSweetProducts': 'Qt_Doce_comprado' , 'MntGoldProds' : 'Qt_Produto_premiun_comprado', 'NumDealsPurchases': 'Qt_Compra_desconto' , 'NumWebPurchases' : 'Qt_Compra_site', 'NumCatalogPurchases' : 'Qt_Compra_Catálogo', 'NumStorePurchases': 'Qt_Compra_Loja' , 'NumWebVisitsMonth' : 'Qt_Visita_site_mês', 'AcceptedCmp3' : 'Aceitou_campanha_3', 'AcceptedCmp4': 'Aceitou_campanha_4' , 'AcceptedCmp5' : 'Aceitou_campanha_5', 'AcceptedCmp1' : 'Aceitou_campanha_1', 'AcceptedCmp2': 'Aceitou_campanha_2' , 'Complain' : 'Reclamação', 'Z_CostContact' : 'Custo_Contato_Cliente', 'Z_Revenue' : 'Receita_Campanha', 'Response' : 'Resposta'}, inplace=True)
df1.head(1)

   ID_Clientes  Ano_Nacimento  ... Receita_Campanha Resposta
0         5524           1957  ...               11        1

[1 rows x 29 columns]

In [ ]:
#Descobrir se a Coluna ID_Clientes é única
df1["ID_Clientes"].is_unique

True

In [ ]:
#Achar Colunas com Na
df1.isna().sum()

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Ano_Nacimento"])

array([1957, 1954, 1965, 1984, 1981, 1967, 1971, 1985, 1974, 1950, 1983,
       1976, 1959, 1952, 1987, 1946, 1980, 1949, 1982, 1979, 1951, 1969,
       1986, 1989, 1963, 1970, 1973, 1943, 1975, 1996, 1968, 1964, 1977,
       1978, 1955, 1966, 1988, 1948, 1958, 1972, 1960, 1945, 1991, 1962,
       1953, 1961, 1956, 1992, 1900, 1893, 1990, 1947, 1899, 1993, 1994,
       1941, 1944, 1995, 1940])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Educacao"])

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [ ]:
#Alterando as linhas de dados da coluna Educação para o Português - BR
df1["Educacao"].replace("2n Cycle", "Ensino Médio", inplace=True)
df1["Educacao"].replace("Graduation", "Ensino Superior", inplace=True)
df1["Educacao"].replace("Master", "Mestrado", inplace=True)
df1["Educacao"].replace("PhD", "Doutorado", inplace=True)

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Estado_Civil"])

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [ ]:
#Alterando as linhas de dados para o Português - BR e mudando valores inconsistêntes para NA
df1["Estado_Civil"].replace("Single", "Solteiro(a)", inplace=True)
df1["Estado_Civil"].replace("Together", "União Estável", inplace=True)
df1["Estado_Civil"].replace("Married", "Casado(a)", inplace=True)
df1["Estado_Civil"].replace("Divorced", "Divorciado(a)", inplace=True)
df1["Estado_Civil"].replace("Widow", "Viúvo(a)", inplace=True)
df1["Estado_Civil"].replace("Alone", "Solteiro(a)", inplace=True)
df1["Estado_Civil"].replace("Divorced", "Divorciado(a)", inplace=True)
df1.replace(["Absurd", "YOLO"], pd.NA, inplace = True)

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Renda_Anual"])

array([58138., 46344., 71613., ..., 56981., 69245., 52869.])

In [ ]:
#Utilizo o Sorted com for quando a coluna tem muitas linhas que não se repetem, assim consigo analisar item por item para achar alguma inconsistência
x =  sorted(pd.unique(df1["Renda_Anual"]))
for i in range(len(x)):
  if i % 20 == 0:
        print()
  print(x[i], end=', ')

1730.0, 2447.0, 5648.0, 7500.0, 9548.0, 10245.0, 10404.0, 10979.0, 12571.0, 14045.0, 14515.0, 14849.0, 15033.0, 15287.0, 15345.0, 16248.0, 16626.0, 17323.0, 18100.0, 18492.0,
18589.0, 18701.0, 18890.0, 19510.0, 19789.0, 19986.0, 20130.0, 20518.0, 20559.0, 21918.0, 21994.0, 22010.0, 22070.0, 22212.0, 22574.0, 22585.0, 22804.0, 23228.0, 23295.0, 23442.0,
23559.0, 23616.0, 23626.0, 23661.0, 23718.0, 23957.0, 23976.0, 24027.0, 24072.0, 24279.0, 24480.0, 24594.0, 24882.0, 25271.0, 25545.0, 25721.0, 26091.0, 26095.0, 26304.0, 26326.0,
26490.0, 26646.0, 27038.0, 27190.0, 27203.0, 27213.0, 27255.0, 27421.0, 27938.0, 28249.0, 28332.0, 28442.0, 28457.0, 28691.0, 28718.0, 28839.0, 29315.0, 29440.0, 29548.0, 29604.0,
29672.0, 29760.0, 29938.0, 29999.0, 30015.0, 30096.0, 30279.0, 30351.0, 30372.0, 30477.0, 30507.0, 30523.0, 30630.0, 30631.0, 30675.0, 30732.0, 30753.0, 30822.0, 30833.0, 30899.0,
30992.0, 31160.0, 31353.0, 31395.0, 31615.0, 31686.0, 31788.0, 31880.0, 32011.0, 32233.0, 32303.0, 32414.0, 32474.0, 32557.0, 32880.0, 33181.0, 33183.0, 33378.0, 33454.0, 33456.0,
33581.0, 33762.0, 33812.0, 33996.0, 34176.0, 34320.0, 34421.0, 34554.0, 34935.0, 35178.0, 35246.0, 35388.0, 35416.0, 35684.0, 35688.0, 35790.0, 35860.0, 36138.0, 36143.0, 36230.0,
36443.0, 36550.0, 36640.0, 36921.0, 37040.0, 37070.0, 37401.0, 37406.0, 37717.0, 37760.0, 38097.0, 38179.0, 38285.0, 38360.0, 38361.0, 38415.0, 38547.0, 38557.0, 38578.0, 38590.0,
38620.0, 38643.0, 38823.0, 38853.0, 38872.0, 38961.0, 38988.0, 39665.0, 39747.0, 40246.0, 40321.0, 40464.0, 40548.0, 40637.0, 40689.0, 40737.0, 41124.0, 41411.0, 41443.0, 41551.0,
41644.0, 41728.0, 41850.0, 41883.0, 42011.0, 42207.0, 42373.0, 42386.0, 42387.0, 42394.0, 42429.0, 42618.0, 42670.0, 42691.0, 43057.0, 43482.0, 43776.0, 43795.0, 43824.0, 43974.0,
44124.0, 44159.0, 44300.0, 44319.0, 44377.0, 44551.0, 44794.0, 45204.0, 45759.0, 45989.0, 46014.0, 46097.0, 46098.0, 46310.0, 46344.0, 46377.0, 46610.0, 46681.0, 46854.0, 46923.0,
47025.0, 47823.0, 47916.0, 48006.0, 48178.0, 48330.0, 48686.0, 48721.0, 48920.0, 48948.0, 49096.0, 49269.0, 49389.0, 49505.0, 49605.0, 49967.0, 50150.0, 50300.0, 50353.0, 50388.0,
50437.0, 50447.0, 50520.0, 50737.0, 50785.0, 50898.0, 50943.0, 51012.0, 51148.0, 51369.0, 51479.0, 51529.0, 51537.0, 51650.0, 51813.0, 52074.0, 52195.0, 52332.0, 52413.0, 52614.0,
53359.0, 53537.0, 53653.0, 53790.0, 53858.0, 54178.0, 54198.0, 54348.0, 54432.0, 54803.0, 55212.0, 55375.0, 55521.0, 55563.0, 55614.0, 55635.0, 55707.0, 55842.0, 55951.0, 55954.0,
56046.0, 56129.0, 56223.0, 56796.0, 56937.0, 57288.0, 57912.0, 57959.0, 58138.0, 58293.0, 58308.0, 58607.0, 58821.0, 59292.0, 59354.0, 59432.0, 59809.0, 60000.0, 60093.0, 60152.0,
60182.0, 60199.0, 60597.0, 60631.0, 60714.0, 61010.0, 61074.0, 61250.0, 61286.0, 61314.0, 61331.0, 61456.0, 61823.0, 61839.0, 61905.0, 62010.0, 62187.0, 62204.0, 62499.0, 62503.0,
62513.0, 62551.0, 62745.0, 62981.0, 62998.0, 63342.0, 63381.0, 63693.0, 63810.0, 63841.0, 63887.0, 64100.0, 64325.0, 64355.0, 64497.0, 64795.0, 64961.0, 65031.0, 65073.0, 65104.0,
65176.0, 65275.0, 65640.0, 65665.0, 65747.0, 65808.0, 65846.0, 65991.0, 66313.0, 66334.0, 66426.0, 66465.0, 66503.0, 66582.0, 66664.0, 66835.0, 66951.0, 66973.0, 66991.0, 67272.0,
67309.0, 67546.0, 67911.0, 68126.0, 68352.0, 68462.0, 68627.0, 68655.0, 68682.0, 69096.0, 69142.0, 69267.0, 69372.0, 69508.0, 69661.0, 69674.0, 69759.0, 69867.0, 70165.0, 70356.0,
70503.0, 70777.0, 70829.0, 70893.0, 70951.0, 71113.0, 71367.0, 71488.0, 71613.0, nan, 3502.0, 4023.0, 4428.0, 4861.0, 5305.0, 6560.0, 6835.0, 7144.0, 8028.0, 8820.0,
8940.0, 9255.0, 9722.0, 11012.0, 11448.0, 12393.0, 13084.0, 13260.0, 13533.0, 13624.0, 13672.0, 13724.0, 14188.0, 14421.0, 14661.0, 14796.0, 14906.0, 14918.0, 15038.0, 15056.0,
15072.0, 15253.0, 15315.0, 15716.0, 15759.0, 15862.0, 16005.0, 16014.0, 16185.0, 16269.0, 16529.0, 16531.0, 16581.0, 16653.0, 16813.0, 16860.0, 16927.0, 17003.0, 17117.0, 17144.0,
17148.0, 17256.0, 17345.0, 17459.0, 17487.0, 17649.0, 17688.0, 18169.0, 18222.0, 18227.0, 18351.0, 18358.0, 18393.0, 18690.0, 18746.0, 18793.0, 18929.0, 18978.0, 18988.0, 19107.0,
19329.0, 19346.0, 19414.0, 19419.0, 19444.0, 19485.0, 19514.0, 19656.0, 19740.0, 20180.0, 20193.0, 20194.0, 20425.0, 20427.0, 20491.0, 20587.0, 20895.0, 20981.0, 21024.0, 21059.0,
21063.0, 21255.0, 21282.0, 21355.0, 21359.0, 21474.0, 21645.0, 21675.0, 21840.0, 21846.0, 21888.0, 21955.0, 22063.0, 22108.0, 22123.0, 22148.0, 22263.0, 22280.0, 22304.0, 22327.0,
22390.0, 22419.0, 22434.0, 22448.0, 22507.0, 22518.0, 22554.0, 22634.0, 22669.0, 22682.0, 22701.0, 22775.0, 22944.0, 22979.0, 23091.0, 23148.0, 23162.0, 23272.0, 23331.0, 23477.0,
23478.0, 23529.0, 23536.0, 23539.0, 23724.0, 23748.0, 23763.0, 23830.0, 23910.0, 24163.0, 24206.0, 24221.0, 24336.0, 24367.0, 24401.0, 24434.0, 24570.0, 24639.0, 24645.0, 24683.0,
24711.0, 24762.0, 24884.0, 25008.0, 25130.0, 25176.0, 25224.0, 25252.0, 25293.0, 25315.0, 25358.0, 25410.0, 25443.0, 25509.0, 25707.0, 25804.0, 25818.0, 25851.0, 25930.0, 25959.0,
25965.0, 26067.0, 26150.0, 26224.0, 26228.0, 26290.0, 26487.0, 26518.0, 26576.0, 26642.0, 26751.0, 26759.0, 26816.0, 26850.0, 26868.0, 26872.0, 26877.0, 26887.0, 26907.0, 26954.0,
26997.0, 27071.0, 27100.0, 27116.0, 27159.0, 27161.0, 27215.0, 27238.0, 27242.0, 27244.0, 27450.0, 27469.0, 27573.0, 27590.0, 27683.0, 27733.0, 27803.0, 27889.0, 27922.0, 27943.0,
28071.0, 28072.0, 28087.0, 28164.0, 28320.0, 28359.0, 28389.0, 28420.0, 28427.0, 28440.0, 28510.0, 28520.0, 28567.0, 28587.0, 28647.0, 28764.0, 28769.0, 28973.0, 29009.0, 29103.0,
29187.0, 29236.0, 29298.0, 29435.0, 29478.0, 29543.0, 29732.0, 29791.0, 29819.0, 30023.0, 30081.0, 30093.0, 30168.0, 30261.0, 30298.0, 30368.0, 30390.0, 30396.0, 30467.0, 30522.0,
30538.0, 30545.0, 30560.0, 30772.0, 30801.0, 30828.0, 30843.0, 30983.0, 31056.0, 31086.0, 31089.0, 31158.0, 31163.0, 31385.0, 31454.0, 31497.0, 31535.0, 31560.0, 31590.0, 31605.0,
31626.0, 31632.0, 31761.0, 31814.0, 31859.0, 31878.0, 31907.0, 31928.0, 32144.0, 32146.0, 32173.0, 32218.0, 32300.0, 32313.0, 32583.0, 32632.0, 32644.0, 32727.0, 32765.0, 32871.0,
32889.0, 32892.0, 32952.0, 33039.0, 33051.0, 33168.0, 33178.0, 33228.0, 33235.0, 33249.0, 33279.0, 33316.0, 33402.0, 33419.0, 33438.0, 33444.0, 33462.0, 33471.0, 33562.0, 33564.0,
33569.0, 33585.0, 33590.0, 33622.0, 33629.0, 33697.0, 33955.0, 33986.0, 34026.0, 34043.0, 34053.0, 34074.0, 34109.0, 34213.0, 34230.0, 34242.0, 34350.0, 34377.0, 34380.0, 34412.0,
34445.0, 34469.0, 34487.0, 34529.0, 34578.0, 34587.0, 34596.0, 34600.0, 34633.0, 34704.0, 34728.0, 34738.0, 34824.0, 34838.0, 34853.0, 34916.0, 34941.0, 34961.0, 34968.0, 34984.0,
35196.0, 35322.0, 35340.0, 35441.0, 35523.0, 35544.0, 35641.0, 35682.0, 35701.0, 35704.0, 35765.0, 35788.0, 35791.0, 35797.0, 35876.0, 35893.0, 35924.0, 35946.0, 36026.0, 36038.0,
36065.0, 36075.0, 36108.0, 36130.0, 36145.0, 36262.0, 36273.0, 36283.0, 36301.0, 36317.0, 36408.0, 36627.0, 36634.0, 36663.0, 36715.0, 36732.0, 36736.0, 36778.0, 36781.0, 36790.0,
36802.0, 36807.0, 36864.0, 36927.0, 36930.0, 36947.0, 36957.0, 36959.0, 36975.0, 36997.0, 37054.0, 37085.0, 37087.0, 37126.0, 37150.0, 37155.0, 37235.0, 37244.0, 37284.0, 37292.0,
37334.0, 37368.0, 37395.0, 37509.0, 37633.0, 37697.0, 37716.0, 37758.0, 37774.0, 37787.0, 37859.0, 37929.0, 37971.0, 38054.0, 38136.0, 38175.0, 38196.0, 38197.0, 38200.0, 38201.0,
38232.0, 38236.0, 38410.0, 38443.0, 38452.0, 38508.0, 38513.0, 38576.0, 38593.0, 38680.0, 38683.0, 38702.0, 38725.0, 38741.0, 38808.0, 38829.0, 38887.0, 38946.0, 38998.0, 39062.0,
39146.0, 39190.0, 39228.0, 39356.0, 39435.0, 39453.0, 39548.0, 39552.0, 39660.0, 39684.0, 39722.0, 39763.0, 39767.0, 39771.0, 39791.0, 39858.0, 39898.0, 39922.0, 39996.0, 40049.0,
40059.0, 40101.0, 40211.0, 40233.0, 40304.0, 40344.0, 40442.0, 40451.0, 40479.0, 40521.0, 40590.0, 40662.0, 40706.0, 40760.0, 40780.0, 40794.0, 40800.0, 40851.0, 40887.0, 41003.0,
41014.0, 41020.0, 41021.0, 41039.0, 41120.0, 41145.0, 41154.0, 41275.0, 41335.0, 41437.0, 41452.0, 41473.0, 41580.0, 41638.0, 41658.0, 41713.0, 41769.0, 41967.0, 41986.0, 42000.0,
42014.0, 42021.0, 42033.0, 42081.0, 42160.0, 42162.0, 42169.0, 42192.0, 42213.0, 42231.0, 42243.0, 42315.0, 42395.0, 42403.0, 42473.0, 42523.0, 42554.0, 42557.0, 42564.0, 42586.0,
42607.0, 42664.0, 42693.0, 42710.0, 42720.0, 42731.0, 42767.0, 42769.0, 42835.0, 42873.0, 42997.0, 43018.0, 43020.0, 43050.0, 43140.0, 43142.0, 43185.0, 43263.0, 43269.0, 43300.0,
43322.0, 43456.0, 43462.0, 43586.0, 43602.0, 43638.0, 43641.0, 43783.0, 43815.0, 44010.0, 44051.0, 44078.0, 44155.0, 44213.0, 44267.0, 44322.0, 44325.0, 44359.0, 44375.0, 44392.0,
44393.0, 44421.0, 44503.0, 44511.0, 44512.0, 44529.0, 44602.0, 44635.0, 44689.0, 44802.0, 44911.0, 44931.0, 44953.0, 44964.0, 44989.0, 45006.0, 45057.0, 45068.0, 45072.0, 45143.0,
45146.0, 45160.0, 45183.0, 45203.0, 45207.0, 45503.0, 45576.0, 45579.0, 45684.0, 45688.0, 45736.0, 45837.0, 45889.0, 45894.0, 45903.0, 45906.0, 45921.0, 45938.0, 46015.0, 46049.0,
46053.0, 46086.0, 46094.0, 46102.0, 46106.0, 46107.0, 46149.0, 46231.0, 46374.0, 46390.0, 46423.0, 46463.0, 46524.0, 46692.0, 46734.0, 46757.0, 46772.0, 46779.0, 46831.0, 46891.0,
46904.0, 46910.0, 46931.0, 46984.0, 46998.0, 47009.0, 47111.0, 47139.0, 47175.0, 47320.0, 47352.0, 47353.0, 47472.0, 47570.0, 47682.0, 47691.0, 47703.0, 47743.0, 47808.0, 47821.0,
47850.0, 47889.0, 47958.0, 48070.0, 48150.0, 48186.0, 48192.0, 48195.0, 48240.0, 48432.0, 48526.0, 48699.0, 48726.0, 48752.0, 48767.0, 48789.0, 48794.0, 48799.0, 48877.0, 48904.0,
48918.0, 48985.0, 49090.0, 49094.0, 49118.0, 49154.0, 49160.0, 49166.0, 49187.0, 49413.0, 49431.0, 49476.0, 49494.0, 49514.0, 49544.0, 49572.0, 49618.0, 49638.0, 49667.0, 49669.0,
49678.0, 49681.0, 49767.0, 49854.0, 49912.0, 49980.0, 50002.0, 50014.0, 50116.0, 50127.0, 50183.0, 50200.0, 50272.0, 50334.0, 50387.0, 50501.0, 50523.0, 50611.0, 50616.0, 50664.0,
50725.0, 50729.0, 50870.0, 50965.0, 51039.0, 51111.0, 51124.0, 51141.0, 51195.0, 51250.0, 51267.0, 51287.0, 51315.0, 51373.0, 51390.0, 51411.0, 51412.0, 51518.0, 51563.0, 51569.0,
51651.0, 51717.0, 51766.0, 51876.0, 51948.0, 51983.0, 52034.0, 52117.0, 52157.0, 52190.0, 52203.0, 52278.0, 52513.0, 52531.0, 52569.0, 52597.0, 52750.0, 52845.0, 52852.0, 52854.0,
52869.0, 52914.0, 52973.0, 53034.0, 53083.0, 53103.0, 53154.0, 53172.0, 53187.0, 53201.0, 53204.0, 53230.0, 53233.0, 53253.0, 53312.0, 53367.0, 53374.0, 53378.0, 53593.0, 53700.0,
53761.0, 53843.0, 53863.0, 53977.0, 54006.0, 54058.0, 54072.0, 54108.0, 54111.0, 54132.0, 54137.0, 54162.0, 54165.0, 54197.0, 54210.0, 54222.0, 54233.0, 54237.0, 54252.0, 54342.0,
54356.0, 54386.0, 54414.0, 54450.0, 54456.0, 54466.0, 54549.0, 54591.0, 54603.0, 54690.0, 54693.0, 54730.0, 54753.0, 54809.0, 54880.0, 54959.0, 54984.0, 54998.0, 55012.0, 55158.0,
55239.0, 55249.0, 55250.0, 55260.0, 55267.0, 55282.0, 55284.0, 55357.0, 55412.0, 55424.0, 55434.0, 55517.0, 55593.0, 55686.0, 55759.0, 55761.0, 55801.0, 55914.0, 55956.0, 56067.0,
56181.0, 56242.0, 56243.0, 56253.0, 56320.0, 56337.0, 56386.0, 56534.0, 56551.0, 56559.0, 56575.0, 56628.0, 56715.0, 56721.0, 56775.0, 56850.0, 56939.0, 56962.0, 56981.0, 57036.0,
57045.0, 57072.0, 57091.0, 57100.0, 57107.0, 57113.0, 57136.0, 57183.0, 57236.0, 57247.0, 57304.0, 57333.0, 57338.0, 57420.0, 57513.0, 57530.0, 57537.0, 57642.0, 57705.0, 57731.0,
57744.0, 57811.0, 57867.0, 57906.0, 57937.0, 57954.0, 57957.0, 57967.0, 58025.0, 58086.0, 58113.0, 58116.0, 58217.0, 58275.0, 58330.0, 58350.0, 58398.0, 58401.0, 58482.0, 58494.0,
58512.0, 58554.0, 58582.0, 58597.0, 58646.0, 58656.0, 58684.0, 58692.0, 58710.0, 58917.0, 59041.0, 59052.0, 59060.0, 59062.0, 59111.0, 59184.0, 59235.0, 59247.0, 59304.0, 59385.0,
59412.0, 59462.0, 59481.0, 59594.0, 59601.0, 59666.0, 59686.0, 59754.0, 59821.0, 59868.0, 59892.0, 59925.0, 59973.0, 60033.0, 60161.0, 60200.0, 60208.0, 60230.0, 60432.0, 60474.0,
60482.0, 60491.0, 60504.0, 60544.0, 60554.0, 60585.0, 60689.0, 60839.0, 60894.0, 60896.0, 60905.0, 60934.0, 61014.0, 61064.0, 61180.0, 61209.0, 61223.0, 61278.0, 61284.0, 61346.0,
61416.0, 61467.0, 61482.0, 61559.0, 61618.0, 61671.0, 61787.0, 61794.0, 61798.0, 61825.0, 61872.0, 61917.0, 61923.0, 61996.0, 62000.0, 62058.0, 62061.0, 62159.0, 62220.0, 62307.0,
62335.0, 62450.0, 62466.0, 62535.0, 62568.0, 62637.0, 62670.0, 62694.0, 62710.0, 62772.0, 62807.0, 62820.0, 62845.0, 62847.0, 62859.0, 62882.0, 62905.0, 62972.0, 62994.0, 63033.0,
63120.0, 63159.0, 63206.0, 63207.0, 63211.0, 63246.0, 63285.0, 63404.0, 63516.0, 63564.0, 63684.0, 63777.0, 63855.0, 63915.0, 63943.0, 63967.0, 63972.0, 63998.0, 64014.0, 64090.0,
64108.0, 64140.0, 64176.0, 64191.0, 64260.0, 64413.0, 64449.0, 64474.0, 64504.0, 64509.0, 64587.0, 64590.0, 64713.0, 64722.0, 64813.0, 64831.0, 64849.0, 64857.0, 64866.0, 64892.0,
64950.0, 65106.0, 65148.0, 65169.0, 65196.0, 65210.0, 65220.0, 65295.0, 65308.0, 65316.0, 65324.0, 65333.0, 65352.0, 65370.0, 65463.0, 65486.0, 65487.0, 65488.0, 65492.0, 65526.0,
65569.0, 65685.0, 65695.0, 65704.0, 65706.0, 65735.0, 65748.0, 65777.0, 65814.0, 65819.0, 65968.0, 66000.0, 66033.0, 66294.0, 66303.0, 66373.0, 66375.0, 66476.0, 66480.0, 66565.0,
66636.0, 66653.0, 66726.0, 66731.0, 66825.0, 66886.0, 67023.0, 67046.0, 67087.0, 67131.0, 67225.0, 67267.0, 67353.0, 67369.0, 67381.0, 67384.0, 67419.0, 67430.0, 67432.0, 67433.0,
67445.0, 67472.0, 67506.0, 67536.0, 67605.0, 67680.0, 67716.0, 67786.0, 67893.0, 68092.0, 68117.0, 68118.0, 68142.0, 68148.0, 68274.0, 68281.0, 68316.0, 68397.0, 68487.0, 68657.0,
68695.0, 68743.0, 68805.0, 69016.0, 69063.0, 69084.0, 69098.0, 69109.0, 69139.0, 69209.0, 69245.0, 69263.0, 69283.0, 69389.0, 69401.0, 69476.0, 69520.0, 69627.0, 69702.0, 69719.0,
69755.0, 69805.0, 69882.0, 69901.0, 69930.0, 69932.0, 69969.0, 70038.0, 70044.0, 70053.0, 70091.0, 70116.0, 70123.0, 70179.0, 70287.0, 70300.0, 70321.0, 70337.0, 70379.0, 70421.0,
70440.0, 70515.0, 70545.0, 70566.0, 70596.0, 70617.0, 70638.0, 70643.0, 70647.0, 70666.0, 70713.0, 70792.0, 70844.0, 70886.0, 70924.0, 70932.0, 70971.0, 71022.0, 71107.0, 71128.0,
71163.0, 71232.0, 71322.0, 71391.0, 71427.0, 71434.0, 71466.0, 71499.0, 71604.0, 71626.0, 71670.0, 71691.0, 71706.0, 71796.0, 71819.0, 71847.0, 71853.0, 71855.0, 71866.0, 71952.0,
71964.0, 71965.0, 71969.0, 72025.0, 72063.0, 72066.0, 72071.0, 72099.0, 72117.0, 72159.0, 72190.0, 72217.0, 72228.0, 72258.0, 72282.0, 72298.0, 72309.0, 72335.0, 72354.0, 72460.0,
72504.0, 72550.0, 72570.0, 72635.0, 72643.0, 72679.0, 72828.0, 72903.0, 72905.0, 72906.0, 72940.0, 72967.0, 72968.0, 73059.0, 73113.0, 73170.0, 73356.0, 73395.0, 73448.0, 73450.0,
73454.0, 73455.0, 73538.0, 73687.0, 73691.0, 73705.0, 73803.0, 73807.0, 73892.0, 73926.0, 74004.0, 74068.0, 74116.0, 74165.0, 74190.0, 74214.0, 74250.0, 74268.0, 74290.0, 74293.0,
74485.0, 74538.0, 74637.0, 74716.0, 74805.0, 74806.0, 74854.0, 74859.0, 74881.0, 74918.0, 74985.0, 75012.0, 75027.0, 75032.0, 75072.0, 75114.0, 75127.0, 75154.0, 75236.0, 75251.0,
75261.0, 75276.0, 75278.0, 75283.0, 75315.0, 75330.0, 75342.0, 75345.0, 75433.0, 75437.0, 75484.0, 75507.0, 75693.0, 75702.0, 75759.0, 75774.0, 75777.0, 75794.0, 75825.0, 75865.0,
75903.0, 75922.0, 76005.0, 76045.0, 76068.0, 76081.0, 76140.0, 76234.0, 76320.0, 76412.0, 76445.0, 76467.0, 76532.0, 76542.0, 76618.0, 76624.0, 76630.0, 76653.0, 76773.0, 76800.0,
76842.0, 76982.0, 76995.0, 76998.0, 77027.0, 77037.0, 77044.0, 77142.0, 77226.0, 77297.0, 77298.0, 77343.0, 77353.0, 77376.0, 77382.0, 77437.0, 77457.0, 77520.0, 77568.0, 77583.0,
77598.0, 77610.0, 77622.0, 77632.0, 77766.0, 77845.0, 77863.0, 77870.0, 77882.0, 77972.0, 77981.0, 78028.0, 78041.0, 78075.0, 78093.0, 78128.0, 78285.0, 78331.0, 78353.0, 78394.0,
78416.0, 78420.0, 78427.0, 78468.0, 78497.0, 78499.0, 78569.0, 78579.0, 78618.0, 78642.0, 78687.0, 78710.0, 78789.0, 78825.0, 78901.0, 78931.0, 78939.0, 78952.0, 79143.0, 79146.0,
79174.0, 79205.0, 79244.0, 79410.0, 79419.0, 79456.0, 79529.0, 79530.0, 79593.0, 79607.0, 79632.0, 79689.0, 79734.0, 79761.0, 79800.0, 79803.0, 79823.0, 79865.0, 79908.0, 79930.0,
79941.0, 79946.0, 80011.0, 80067.0, 80124.0, 80134.0, 80141.0, 80144.0, 80184.0, 80317.0, 80336.0, 80360.0, 80395.0, 80398.0, 80427.0, 80573.0, 80589.0, 80617.0, 80685.0, 80695.0,
80739.0, 80763.0, 80812.0, 80872.0, 80910.0, 80950.0, 80952.0, 80982.0, 80995.0, 81044.0, 81051.0, 81168.0, 81169.0, 81205.0, 81217.0, 81246.0, 81300.0, 81320.0, 81361.0, 81380.0,
81574.0, 81657.0, 81698.0, 81702.0, 81741.0, 81795.0, 81843.0, 81929.0, 81975.0, 82014.0, 82017.0, 82025.0, 82032.0, 82072.0, 82122.0, 82170.0, 82224.0, 82326.0, 82332.0, 82333.0,
82347.0, 82384.0, 82427.0, 82460.0, 82497.0, 82504.0, 82571.0, 82576.0, 82582.0, 82584.0, 82623.0, 82657.0, 82716.0, 82733.0, 82800.0, 83003.0, 83033.0, 83145.0, 83151.0, 83257.0,
83273.0, 83443.0, 83512.0, 83528.0, 83532.0, 83664.0, 83715.0, 83790.0, 83829.0, 83837.0, 83844.0, 83891.0, 83917.0, 84117.0, 84169.0, 84196.0, 84219.0, 84460.0, 84574.0, 84618.0,
84835.0, 84865.0, 84906.0, 84953.0, 85072.0, 85431.0, 85485.0, 85606.0, 85620.0, 85683.0, 85693.0, 85696.0, 85710.0, 85738.0, 85844.0, 86037.0, 86111.0, 86358.0, 86424.0, 86429.0,
86580.0, 86610.0, 86718.0, 86836.0, 86857.0, 86979.0, 87000.0, 87171.0, 87188.0, 87195.0, 87305.0, 87679.0, 87771.0, 88097.0, 88194.0, 88325.0, 88347.0, 88420.0, 89058.0, 89120.0,
89572.0, 89616.0, 89694.0, 89891.0, 90000.0, 90226.0, 90247.0, 90273.0, 90300.0, 90369.0, 90638.0, 90687.0, 90765.0, 90842.0, 90933.0, 91065.0, 91172.0, 91249.0, 91700.0, 91712.0,
91820.0, 92163.0, 92344.0, 92491.0, 92533.0, 92556.0, 92859.0, 92910.0, 92955.0, 93027.0, 93404.0, 93790.0, 94384.0, 94472.0, 94642.0, 94871.0, 95169.0, 95529.0, 96547.0, 96843.0,
96876.0, 98777.0, 101970.0, 102160.0, 102692.0, 105471.0, 113734.0, 153924.0, 156924.0, 157146.0, 157243.0, 157733.0, 160803.0, 162397.0, 666666.0,

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qts_Criancas"])

array([0, 1, 2])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qts_Adolecentes"])

array([0, 1, 2])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Data_Cadastro"])

array(['04-09-2012', '08-03-2014', '21-08-2013', '10-02-2014',
       '19-01-2014', '09-09-2013', '13-11-2012', '08-05-2013',
       '06-06-2013', '13-03-2014', '15-11-2013', '10-10-2012',
       '24-11-2012', '24-12-2012', '31-08-2012', '28-03-2013',
       '03-11-2012', '08-08-2012', '06-01-2013', '23-12-2012',
       '11-01-2014', '18-03-2013', '02-01-2013', '27-05-2013',
       '20-02-2013', '31-05-2013', '22-11-2013', '22-05-2014',
       '11-05-2013', '29-10-2012', '29-08-2013', '31-12-2013',
       '02-09-2013', '11-02-2014', '01-02-2013', '29-04-2013',
       '12-03-2013', '05-11-2013', '02-10-2013', '28-06-2014',
       '09-11-2012', '24-05-2013', '01-01-2014', '08-11-2012',
       '12-05-2014', '11-08-2012', '07-06-2014', '12-06-2013',
       '19-11-2012', '02-04-2013', '28-04-2014', '17-06-2013',
       '03-03-2014', '04-07-2013', '07-09-2012', '18-02-2013',
       '11-06-2013', '06-12-2013', '21-05-2013', '11-05-2014',
       '19-03-2014', '27-09-2013', '08-04-2013', '11-09-2012',
       '14-09-2012', '17-03-2013', '05-04-2013', '30-04-2014',
       '19-12-2012', '27-08-2012', '12-10-2012', '04-09-2013',
       '29-08-2012', '23-06-2013', '03-07-2013', '25-02-2014',
       '11-08-2013', '16-07-2013', '28-05-2014', '21-01-2014',
       '27-05-2014', '23-11-2013', '23-03-2014', '24-05-2014',
       '22-11-2012', '11-04-2013', '01-12-2013', '20-06-2013',
       '23-07-2013', '30-03-2014', '20-04-2013', '17-05-2013',
       '08-05-2014', '10-12-2013', '24-09-2013', '02-02-2013',
       '07-12-2012', '02-11-2013', '10-11-2012', '25-06-2014',
       '12-12-2012', '10-09-2013', '24-01-2014', '19-02-2013',
       '11-07-2013', '14-11-2013', '24-02-2014', '22-04-2013',
       '21-04-2013', '08-06-2014', '10-05-2014', '30-09-2013',
       '10-03-2013', '14-08-2013', '07-07-2013', '19-05-2014',
       '28-07-2013', '19-10-2012', '19-04-2013', '28-08-2013',
       '19-03-2013', '18-10-2012', '28-10-2012', '22-08-2012',
       '21-06-2014', '24-04-2014', '07-03-2014', '14-12-2012',
       '09-10-2012', '08-07-2013', '12-09-2013', '17-10-2013',
       '20-08-2013', '01-07-2013', '05-11-2012', '05-01-2014',
       '01-05-2013', '01-03-2014', '13-11-2013', '18-11-2013',
       '21-04-2014', '13-07-2013', '30-01-2014', '04-04-2014',
       '12-09-2012', '16-12-2012', '23-05-2014', '24-06-2014',
       '28-09-2013', '22-01-2014', '15-06-2014', '05-12-2012',
       '02-08-2013', '23-02-2013', '09-09-2012', '26-09-2013',
       '30-05-2013', '29-12-2013', '13-05-2014', '19-09-2013',
       '17-01-2013', '31-03-2014', '29-06-2014', '09-12-2013',
       '14-10-2013', '02-11-2012', '17-07-2013', '08-12-2013',
       '13-05-2013', '10-09-2012', '31-03-2013', '18-03-2014',
       '05-10-2012', '21-01-2013', '04-05-2013', '01-04-2014',
       '31-08-2013', '14-11-2012', '11-04-2014', '14-04-2014',
       '05-01-2013', '08-09-2012', '26-03-2013', '25-10-2012',
       '09-12-2012', '16-02-2014', '20-03-2013', '15-05-2013',
       '16-04-2014', '23-03-2013', '04-12-2013', '04-10-2013',
       '26-12-2013', '17-05-2014', '28-10-2013', '31-07-2013',
       '28-11-2013', '17-08-2012', '05-06-2014', '20-05-2013',
       '09-01-2013', '16-09-2013', '27-10-2013', '22-09-2012',
       '13-10-2012', '16-10-2012', '22-10-2012', '04-06-2013',
       '22-05-2013', '17-06-2014', '23-11-2012', '03-02-2013',
       '14-03-2013', '26-06-2014', '15-10-2012', '19-06-2013',
       '20-03-2014', '04-02-2014', '06-04-2014', '06-02-2013',
       '11-02-2013', '17-04-2014', '12-07-2013', '29-01-2013',
       '08-01-2013', '13-06-2013', '27-12-2013', '31-10-2012',
       '15-01-2014', '23-08-2012', '07-03-2013', '13-01-2013',
       '12-01-2013', '17-03-2014', '12-10-2013', '13-04-2014',
       '18-09-2012', '05-03-2014', '27-04-2013', '18-01-2014',
       '03-06-2013', '17-12-2013', '11-03-2014', '29-07-2013',
       '14-08-2012', '23-08-2013', '09-02-2014', '07-02-2013',
       '11-01-2013', '05-07-2013', '02-07-2013', '07-11-2013',
       '09-05-2013', '13-02-2013', '16-04-2013', '11-09-2013',
       '03-04-2013', '10-01-2013', '30-06-2013', '06-12-2012',
       '12-11-2012', '03-03-2013', '10-08-2012', '07-12-2013',
       '15-08-2013', '10-11-2013', '16-06-2014', '25-12-2012',
       '03-01-2014', '27-10-2012', '22-12-2012', '29-11-2013',
       '08-10-2013', '28-09-2012', '22-03-2014', '28-12-2012',
       '21-08-2012', '16-03-2013', '17-11-2012', '01-12-2012',
       '22-04-2014', '11-11-2012', '22-06-2013', '18-08-2012',
       '30-12-2012', '14-06-2013', '16-10-2013', '30-08-2012',
       '04-05-2014', '18-04-2013', '06-10-2013', '15-09-2012',
       '27-09-2012', '11-03-2013', '22-10-2013', '09-06-2014',
       '30-05-2014', '17-10-2012', '30-03-2013', '23-01-2013',
       '20-11-2013', '14-02-2014', '22-02-2013', '05-03-2013',
       '06-05-2014', '13-04-2013', '05-04-2014', '25-04-2013',
       '25-11-2013', '02-02-2014', '21-06-2013', '21-12-2013',
       '07-09-2013', '22-08-2013', '20-12-2013', '06-08-2013',
       '09-10-2013', '09-06-2013', '22-12-2013', '02-05-2013',
       '16-02-2013', '20-08-2012', '01-04-2013', '25-05-2014',
       '25-09-2012', '22-09-2013', '28-01-2014', '23-04-2013',
       '06-03-2014', '15-08-2012', '27-03-2013', '10-10-2013',
       '04-08-2012', '18-05-2014', '09-05-2014', '23-10-2012',
       '30-12-2013', '19-08-2012', '30-10-2013', '26-06-2013',
       '26-01-2014', '24-09-2012', '03-12-2012', '27-11-2013',
       '06-08-2012', '29-12-2012', '24-08-2012', '07-11-2012',
       '02-12-2013', '19-07-2013', '25-05-2013', '20-10-2013',
       '14-04-2013', '27-01-2014', '16-08-2013', '30-09-2012',
       '04-12-2012', '12-08-2012', '03-11-2013', '15-02-2013',
       '18-09-2013', '18-06-2014', '24-04-2013', '15-02-2014',
       '08-08-2013', '23-12-2013', '28-11-2012', '07-08-2013',
       '07-01-2014', '03-12-2013', '29-03-2014', '08-04-2014',
       '07-02-2014', '06-11-2013', '01-03-2013', '03-08-2013',
       '16-06-2013', '25-06-2013', '13-09-2013', '01-08-2013',
       '31-01-2013', '09-07-2013', '15-04-2013', '03-04-2014',
       '18-04-2014', '23-09-2012', '14-09-2013', '26-10-2012',
       '19-10-2013', '21-02-2013', '17-09-2013', '26-01-2013',
       '07-05-2014', '19-08-2013', '18-07-2013', '11-12-2012',
       '26-07-2013', '06-05-2013', '14-07-2013', '10-03-2014',
       '28-12-2013', '20-01-2013', '21-09-2012', '06-09-2012',
       '18-12-2012', '19-11-2013', '13-06-2014', '07-05-2013',
       '18-08-2013', '13-12-2013', '17-02-2014', '03-08-2012',
       '04-01-2014', '21-10-2013', '25-12-2013', '01-01-2013',
       '16-05-2013', '25-09-2013', '08-11-2013', '16-12-2013',
       '30-10-2012', '02-01-2014', '18-10-2013', '25-07-2013',
       '24-10-2013', '19-12-2013', '16-05-2014', '04-10-2012',
       '25-08-2013', '29-05-2013', '26-03-2014', '09-04-2014',
       '12-03-2014', '29-04-2014', '27-06-2014', '10-04-2013',
       '21-11-2013', '21-10-2012', '14-05-2013', '01-08-2012',
       '25-01-2014', '11-10-2013', '07-08-2012', '29-03-2013',
       '03-06-2014', '09-08-2012', '06-03-2013', '12-05-2013',
       '09-03-2014', '15-09-2013', '29-01-2014', '03-10-2013',
       '28-02-2013', '02-05-2014', '09-02-2013', '15-03-2013',
       '10-05-2013', '05-09-2012', '01-09-2013', '26-05-2013',
       '12-12-2013', '08-12-2012', '30-08-2013', '18-12-2013',
       '18-06-2013', '29-05-2014', '15-01-2013', '29-10-2013',
       '02-03-2013', '14-12-2013', '19-01-2013', '06-04-2013',
       '04-11-2013', '22-03-2013', '31-05-2014', '04-02-2013',
       '05-05-2013', '14-02-2013', '21-03-2014', '05-08-2013',
       '29-11-2012', '27-07-2013', '13-01-2014', '29-09-2012',
       '23-10-2013', '06-11-2012', '26-05-2014', '04-03-2014',
       '06-01-2014', '11-06-2014', '19-06-2014', '26-11-2012',
       '11-12-2013', '14-01-2014', '23-01-2014', '24-03-2013',
       '29-06-2013', '25-01-2013', '17-11-2013', '18-05-2013',
       '17-04-2013', '24-01-2013', '09-08-2013', '10-06-2013',
       '20-07-2013', '28-05-2013', '04-03-2013', '01-10-2012',
       '10-02-2013', '14-10-2012', '03-02-2014', '22-06-2014',
       '25-10-2013', '18-02-2014', '09-11-2013', '13-08-2013',
       '25-08-2012', '19-04-2014', '07-04-2014', '03-01-2013',
       '04-11-2012', '22-01-2013', '26-02-2014', '23-04-2014',
       '30-07-2013', '13-10-2013', '27-11-2012', '01-05-2014',
       '30-11-2012', '17-08-2013', '04-01-2013', '03-05-2014',
       '26-04-2014', '02-06-2014', '26-10-2013', '24-03-2014',
       '25-02-2013', '20-09-2013', '16-01-2013', '24-12-2013',
       '18-11-2012', '05-08-2012', '03-05-2013', '12-11-2013',
       '06-07-2013', '21-07-2013', '20-10-2012', '23-05-2013',
       '26-08-2012', '12-01-2014', '13-02-2014', '27-02-2014',
       '20-04-2014', '28-06-2013', '28-04-2013', '21-03-2013',
       '27-08-2013', '30-07-2012', '05-12-2013', '08-02-2013',
       '21-11-2012', '26-02-2013', '20-09-2012', '08-06-2013',
       '05-09-2013', '12-04-2014', '24-06-2013', '19-02-2014',
       '27-12-2012', '01-11-2012', '22-07-2013', '31-01-2014',
       '26-08-2013', '01-10-2013', '10-06-2014', '01-02-2014',
       '03-09-2012', '26-09-2012', '31-07-2012', '02-12-2012',
       '05-05-2014', '06-10-2012', '02-03-2014', '15-05-2014',
       '10-12-2012', '13-08-2012', '23-02-2014', '16-03-2014',
       '21-09-2013', '24-10-2012', '15-10-2013', '17-02-2013',
       '28-08-2012', '12-02-2014', '08-02-2014', '01-09-2012',
       '16-11-2012', '12-02-2013', '02-08-2012', '16-08-2012',
       '25-11-2012', '27-04-2014', '30-04-2013', '20-11-2012',
       '14-06-2014', '28-03-2014', '08-03-2013', '02-09-2012',
       '15-04-2014', '25-04-2014', '27-06-2013', '01-06-2013',
       '05-10-2013', '22-02-2014', '12-04-2013', '23-09-2013',
       '24-07-2013', '23-06-2014', '10-01-2014', '25-03-2013',
       '17-01-2014', '04-06-2014', '25-03-2014', '31-12-2012',
       '19-09-2012', '27-02-2013', '02-10-2012', '09-04-2013',
       '02-04-2014', '07-01-2013', '26-11-2013', '04-08-2013',
       '17-12-2012', '06-06-2014', '19-05-2013', '12-08-2013',
       '15-12-2013', '07-10-2012', '06-09-2013', '15-07-2013',
       '27-01-2013', '05-02-2014', '26-12-2012', '06-02-2014',
       '14-01-2013', '20-06-2014', '24-08-2013', '28-02-2014',
       '07-04-2013', '10-04-2014', '12-06-2014', '30-11-2013',
       '09-03-2013', '27-03-2014', '15-12-2012', '17-09-2012',
       '02-06-2013', '21-12-2012', '01-11-2013', '10-08-2013',
       '11-10-2012', '20-12-2012', '09-01-2014'], dtype=object)

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Dias_desde_ultima_compra"])

array([58, 38, 26, 94, 16, 34, 32, 19, 68, 11, 59, 82, 53, 23, 51, 20, 91,
       86, 41, 42, 63,  0, 69, 89,  4, 96, 56, 31,  8, 55, 37, 76, 99,  3,
       88, 80, 72, 24, 92, 39, 29,  2, 54, 57, 30, 12, 18, 75, 90,  1, 25,
       40,  9, 87,  5, 95, 48, 70, 79, 45, 84, 44, 43, 35, 15, 17, 46, 27,
       74, 85, 65, 13, 83, 10, 21, 61, 73, 47, 36, 49, 28, 64, 98, 78, 77,
       81, 14, 52, 93, 50, 60, 66, 97, 62,  6, 33, 67, 22, 71,  7])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qt_Vinho_Comprado"])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qt_Fruta_Comprada"])

array([ 88,   1,  49,   4,  43,  42,  65,  10,   0,   5,  16,  61,   2,
        14,  22,  80,  17,   3, 100,  12,  34,   8,  76,  11, 164,  18,
         6,  50,  19,  37, 120,   9,  51,  35,  26,   7,  40,  59,  36,
       107, 111, 105,  23,  60,  46, 172,  81, 106, 194, 115,  44,  99,
        90,  48,  27,  33, 133,  58,  28,  21,  20, 162,  71,  66,  30,
       189, 138,  29,  24,  32,  86, 114, 153,  64, 134, 148,  47,  41,
        84,  74, 129,  15,  98, 183, 147, 144, 104,  91, 163, 152,  53,
        68, 137, 190,  38,  70,  96,  25,  13,  83,  92,  73, 155,  54,
       151,  85, 127,  63,  45, 103,  69,  89, 181, 112, 159, 102, 123,
       166, 142,  79,  39,  31, 178,  93,  97, 168, 174, 122, 199,  62,
        55, 101,  67, 117, 108,  57, 130, 161,  56, 124, 126,  75, 185,
        72,  87, 197,  82, 184, 160,  77, 140, 131, 132, 169, 193, 149,
       143, 154])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qt_Carne_comprada"])

NameError: ignored

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qt_Produto_pesca_comprada"])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qt_Doce_comprado"])

NameError: ignored

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qt_Produto_premiun_comprado"])

array([ 88,   6,  42,   5,  15,  14,  27,  23,   2,  13,   1,  16,  30,
        45,   4,  28, 176,  39,  48,  19,  99,  41, 362,  10,   0,  89,
         3,  43,  22,  35,  36, 102,   7,  12, 174,  50,  38,  32, 241,
       109, 190,  40,  80, 169,  73,  17,  86,   9,  18,  51,  76,  34,
       145,  53,  75, 223,  11, 111,  81,  65,  79,  60,  72,  33, 120,
       168, 172, 216,  58, 130, 124,  20, 126, 116,  49,   8,  91,  57,
        26, 141, 117,  25,  92,  54,  21, 192,  44,  66, 182, 181, 152,
        77,  70, 148,  24,  69, 146, 162, 131,  74, 135, 203,  52,  63,
        61, 139, 122, 224, 173, 218,  93, 142,  29, 233, 101, 157,  55,
       107, 159,  78, 110, 125, 114,  68, 191,  95,  37,  64,  46, 119,
        90, 134, 108, 153,  84,  59,  31, 175,  85,  71,  47, 118,  83,
       106, 165, 163, 144, 147, 207, 151, 154, 115,  67, 242, 155, 249,
       183, 170,  97, 227, 121, 205, 112, 198, 177, 133,  94,  56,  82,
       187, 171,  98, 129,  96, 166, 195, 231, 158, 123, 200, 178, 149,
       132, 210, 138, 262, 140, 100, 246, 196, 197, 199, 215, 127, 161,
       180,  62, 128, 291, 150, 232, 219, 137, 185, 160, 321, 143, 204,
       245, 229, 248, 103, 247])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qt_Compra_desconto"])

array([ 3,  2,  1,  5,  4, 15,  7,  0,  6,  9, 12,  8, 10, 13, 11])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qt_Compra_site"])

array([ 8,  1,  2,  5,  6,  7,  4,  3, 11,  0, 27, 10,  9, 23, 25])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qt_Compra_Catálogo"])

array([10,  1,  2,  0,  3,  4,  6, 28,  9,  5,  8,  7, 11, 22])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qt_Compra_Loja"])

array([ 4,  2, 10,  6,  7,  0,  3,  8,  5, 12,  9, 13, 11,  1])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Qt_Visita_site_mês"])

array([ 7,  5,  4,  6,  8,  9, 20,  2,  3,  1, 10,  0, 14, 19, 17, 13])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Aceitou_campanha_3"])

array([0, 1])

In [ ]:
#Alteração para string, para facilitar a leitura
df1["Aceitou_campanha_3"].replace(0, "Não", inplace=True)
df1["Aceitou_campanha_3"].replace(1, "Sim", inplace=True)

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Aceitou_campanha_4"])

array([0, 1])

In [ ]:
#Alteração para string, para facilitar a leitura
df1["Aceitou_campanha_4"].replace(0, "Não", inplace=True)
df1["Aceitou_campanha_4"].replace(1, "Sim", inplace=True)

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Aceitou_campanha_5"])

array([0, 1])

In [ ]:
#Alteração para string, para facilitar a leitura
df1["Aceitou_campanha_5"].replace(0, "Não", inplace=True)
df1["Aceitou_campanha_5"].replace(1, "Sim", inplace=True)

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Aceitou_campanha_1"])

array([0, 1])

In [ ]:
#Alteração para string, para facilitar a leitura
df1["Aceitou_campanha_1"].replace(0, "Não", inplace=True)
df1["Aceitou_campanha_1"].replace(1, "Sim", inplace=True)

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Aceitou_campanha_2"])

array([0, 1])

In [ ]:
#Alteração para string, para facilitar a leitura
df1["Aceitou_campanha_2"].replace(0, "Não", inplace=True)
df1["Aceitou_campanha_2"].replace(1, "Sim", inplace=True)

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Reclamação"])

array([0, 1])

In [ ]:
#Alteração para string, para facilitar a leitura
df1["Reclamação"].replace(0, "Sem reclamação", inplace=True)
df1["Reclamação"].replace(1, "Com reclamação", inplace=True)

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Custo_Contato_Cliente"])

array([3])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Receita_Campanha"])

array([11])

In [ ]:
#Utilizando o unique para buscar inconsistências em cada Coluna
pd.unique(df1["Resposta"])

array([1, 0])

In [ ]:
#Alteração para string, para facilitar a leitura
df1["Resposta"].replace(0, "Não", inplace=True)
df1["Resposta"].replace(1, "Sim", inplace=True)

In [ ]:
# Retirada da coluna
df1.drop(['Receita_Campanha', 'Resposta', 'Custo_Contato_Cliente'], axis = 1, inplace= True)

In [ ]:
#Visualizando o dataframe
df1.head(1)

   ID_Clientes  Ano_Nacimento  ... Aceitou_campanha_2      Reclamação
0         5524           1957  ...                Não  Sem reclamação

[1 rows x 26 columns]

In [ ]:
#Salvando meu Dataframe
df1.to_csv('marketing.csv', index=False)

In [ ]:
df1.dtypes

## **PYSPARK**

In [ ]:
#Instalar Pyspark
!pip install pyspark

In [ ]:
#Importanto Bibliotecas para utilização do Pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.window import Window 
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

In [ ]:
spark = (SparkSession.builder.
         master('local').
         appName('dataframe_withcolumn').
         config('spark.ui.port', '4050').
         getOrCreate())
df2 = (spark.read.
       format("csv").
       option("header", "true").
       option("inferschema", "true").
       option("delimiter", ",").
       load('/content/drive/MyDrive/DADOS/Dados mini_projeto/marketing.csv'))
df2.printSchema()

In [ ]:
#Renomeando novas colunas
df2 = df2.withColumnRenamed('ID_Clientes', 'ID_Cliente').withColumnRenamed('Qt_Compra_desconto', 'Qtd_Compra_desconto').withColumnRenamed('Qt_Compra_site', 'Qtd_Compra_site').withColumnRenamed('Qt_Compra_Catálogo', 'Qtd_Compra_Catálogo').withColumnRenamed('Qt_Compra_Loja', 'Qtd_Compra_Loja').withColumnRenamed('Qt_Visita_site_mês', 'Qtd_Visita_site_mes').withColumnRenamed('Reclamação', 'Reclamacoes')
df2.show(5)

+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+
|ID_Cliente|Ano_Nacimento|       Educacao| Estado_Civil|Renda_Anual|Qts_Criancas|Qts_Adolecentes|Data_Cadastro|Dias_desde_ultima_compra|Qt_Vinho_Comprado|Qt_Fruta_Comprada|Qt_Carne_comprada|Qt_Produto_pesca_comprada|Qt_Doce_comprado|Qt_Produto_premiun_comprado|Qtd_Compra_desconto|Qtd_Compra_site|Qtd_Compra_Catálogo|Qtd_Compra_Loja|Qtd_Visita_site_mes|Aceitou_campanha_3|Aceitou_campanha_4|Aceitou_campanha_5|Aceitou_campanha_1|Aceitou_campanha_2|   Reclamacoes|
+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+
|      5524|         1957|Ensino Superior|  Solteiro(a)|    58138.0|           0|              0|   04-09-2012|                      58|              635|               88|              546|                      172|              88|                         88|                  3|              8|                 10|              4|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|
|      2174|         1954|Ensino Superior|  Solteiro(a)|    46344.0|           1|              1|   08-03-2014|                      38|               11|                1|                6|                        2|               1|                          6|                  2|              1|                  1|              2|                  5|               Não|               Não|               Não|               Não|               Não|Sem reclamação|
|      4141|         1965|Ensino Superior|União Estável|    71613.0|           0|              0|   21-08-2013|                      26|              426|               49|              127|                      111|              21|                         42|                  1|              8|                  2|             10|                  4|               Não|               Não|               Não|               Não|               Não|Sem reclamação|
|      6182|         1984|Ensino Superior|União Estável|    26646.0|           1|              0|   10-02-2014|                      26|               11|                4|               20|                       10|               3|                          5|                  2|              2|                  0|              4|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|
|      5324|         1981|      Doutorado|    Casado(a)|    58293.0|           1|              0|   19-01-2014|                      94|              173|               43|              118|                       46|              27|                         15|                  5|              5|                  3|              6|                  5|               Não|               Não|               Não|               Não|               Não|Sem reclamação|
+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+
only showing top 5 rows

In [ ]:
#Criando novas colunas
df2 = df2.withColumn("Filhos", F.col("Qts_Criancas") + F.col("Qts_Adolecentes"))
df2 = df2.withColumn("Valor das Compras", F.col("Qt_Vinho_Comprado") + F.col("Qt_Fruta_Comprada") + F.col("Qt_Carne_comprada") + F.col("Qt_Produto_pesca_comprada") + F.col("Qt_Doce_comprado") + F.col("Qt_Produto_premiun_comprado"))

df2.show(1)

+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|ID_Cliente|Ano_Nacimento|       Educacao|Estado_Civil|Renda_Anual|Qts_Criancas|Qts_Adolecentes|Data_Cadastro|Dias_desde_ultima_compra|Qt_Vinho_Comprado|Qt_Fruta_Comprada|Qt_Carne_comprada|Qt_Produto_pesca_comprada|Qt_Doce_comprado|Qt_Produto_premiun_comprado|Qtd_Compra_desconto|Qtd_Compra_site|Qtd_Compra_Catálogo|Qtd_Compra_Loja|Qtd_Visita_site_mes|Aceitou_campanha_3|Aceitou_campanha_4|Aceitou_campanha_5|Aceitou_campanha_1|Aceitou_campanha_2|   Reclamacoes|Filhos|Valor das Compras|
+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|      5524|         1957|Ensino Superior| Solteiro(a)|    58138.0|           0|              0|   04-09-2012|                      58|              635|               88|              546|                      172|              88|                         88|                  3|              8|                 10|              4|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1617|
+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
only showing top 1 row

In [ ]:
#Filtrando os gastos de uma família com filhos ou sem filhos
filtro = F.col("Estado_Civil") == "Casado(a)"
df2.select(F.col("Estado_Civil"), F.col("Filhos"), F.col("Valor das Compras")).filter(filtro).show(10)

+------------+------+-----------------+
|Estado_Civil|Filhos|Valor das Compras|
+------------+------+-----------------+
|   Casado(a)|     1|              422|
|   Casado(a)|     1|              169|
|   Casado(a)|     1|               19|
|   Casado(a)|     0|               61|
|   Casado(a)|     0|               46|
|   Casado(a)|     2|               96|
|   Casado(a)|     1|             1782|
|   Casado(a)|     0|              316|
|   Casado(a)|     1|             1730|
|   Casado(a)|     1|              972|
+------------+------+-----------------+
only showing top 10 rows

In [ ]:
#Filtrando os gastos de pais solteiros com filhos
df2.select(F.col("Estado_Civil"), F.col("Filhos"), F.col("Qt_Doce_comprado"))\
                .filter(F.col("Filhos") > 0)\
                .filter(F.col("Estado_Civil") == "Solteiro(a)")\
                .filter(F.col("Qt_Doce_comprado") < 10)\
                .show(100)

In [ ]:
#Ordenando a Tabela de acordo com o Valor das compras com o cadastro do cliente
df2.orderBy("valor das Compras","Data_Cadastro").show(truncate=False)

In [ ]:
#Média de Gastos dde clientes ordenado por estado civil 
df2.groupby(F.col("Estado_Civil")).mean("Renda_Anual").show()

In [ ]:
#Particionando Estado Civil por ordem de Educação usando rank
w0 = Window.partitionBy(F.col("Estado_Civil")).orderBy("Educacao")
df2.withColumn("rank", F.rank().over(w0)).show()

+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+----+
|ID_Cliente|Ano_Nacimento|       Educacao|Estado_Civil|Renda_Anual|Qts_Criancas|Qts_Adolecentes|Data_Cadastro|Dias_desde_ultima_compra|Qt_Vinho_Comprado|Qt_Fruta_Comprada|Qt_Carne_comprada|Qt_Produto_pesca_comprada|Qt_Doce_comprado|Qt_Produto_premiun_comprado|Qtd_Compra_desconto|Qtd_Compra_site|Qtd_Compra_Catálogo|Qtd_Compra_Loja|Qtd_Visita_site_mes|Aceitou_campanha_3|Aceitou_campanha_4|Aceitou_campanha_5|Aceitou_campanha_1|Aceitou_campanha_2|   Reclamacoes|Filhos|Valor das Compras|rank|
+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+----+
|       492|         1973|      Doutorado|        null|    48432.0|           0|              1|   18-10-2012|                       3|              322|                3|               50|                        4|               3|                         42|                  5|              7|                  1|              6|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              424|   1|
|     11133|         1973|      Doutorado|        null|    48432.0|           0|              1|   18-10-2012|                       3|              322|                3|               50|                        4|               3|                         42|                  5|              7|                  1|              6|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              424|   1|
|      7734|         1993|Ensino Superior|        null|    79244.0|           0|              0|   19-12-2012|                      58|              471|              102|              125|                      212|              61|                        245|                  1|              4|                 10|              7|                  1|               Não|               Não|               Sim|               Sim|               Não|Sem reclamação|     0|             1216|   3|
|      4369|         1957|       Mestrado|        null|    65487.0|           0|              0|   10-01-2014|                      48|              240|               67|              500|                      199|               0|                        163|                  3|              3|                  5|              6|                  2|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1169|   4|
|       387|         1976|          Basic|   Casado(a)|     7500.0|           0|              0|   13-11-2012|                      59|                6|               16|               11|                       11|               1|                         16|                  1|              2|                  0|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|               61|   1|
|      2563|         1961|          Basic|   Casado(a)|    28249.0|           0|              0|   15-06-2014|                      80|                1|                9|                7|                        2|              14|                         10|                  1|              2|                  0|              3|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|               43|   1|
|      4669|         1981|          Basic|   Casado(a)|    24480.0|           1|              0|   11-02-2013|                      46|                4|               19|                9|                       28|              25|                         17|                  3|              3|                  0|              4|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              102|   1|
|      8151|         1990|          Basic|   Casado(a)|    24279.0|           0|              0|   29-12-2012|                       6|               16|               36|               21|                       20|              62|                        108|                  1|              4|                  1|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              263|   1|
|      2457|         1975|          Basic|   Casado(a)|    30801.0|           0|              1|   26-10-2012|                      23|                8|                4|                5|                       15|               2|                         11|                  2|              1|                  0|              3|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               45|   1|
|      6682|         1973|          Basic|   Casado(a)|    18978.0|           1|              0|   11-12-2012|                      41|                2|                8|                1|                        4|               7|                         15|                  1|              1|                  0|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               37|   1|
|      1777|         1980|          Basic|   Casado(a)|    25965.0|           0|              0|   07-09-2012|                      29|                2|                2|               11|                       41|               7|                         11|                  1|              2|                  0|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|               74|   1|
|      6516|         1989|          Basic|   Casado(a)|    17487.0|           1|              0|   18-03-2013|                      37|                0|                0|                1|                        7|               4|                          6|                  1|              1|                  0|              2|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               18|   1|
|      4211|         1986|          Basic|   Casado(a)|    20425.0|           1|              0|   29-10-2012|                       5|                4|               12|                5|                        3|              16|                         17|                  2|              2|                  0|              3|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               57|   1|
|      5692|         1989|          Basic|   Casado(a)|    25443.0|           1|              0|   22-12-2012|                      82|                1|                4|                3|                        8|               9|                          7|                  1|              1|                  0|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               32|   1|
|       193|         1996|          Basic|   Casado(a)|    14421.0|           0|              0|   17-02-2014|                      81|                0|                0|                2|                        3|               3|                          8|                  1|              1|                  0|              2|                  5|               Sim|               Não|               Não|               Não|               Não|Sem reclamação|     0|               16|   1|
|      5043|         1951|          Basic|   Casado(a)|    26997.0|           0|              0|   05-11-2012|                      89|                7|               23|               78|                      133|              49|                        144|                  2|              4|                  2|              5|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              434|   1|
|      6398|         1974|          Basic|   Casado(a)|    18393.0|           1|              0|   29-03-2014|                       2|                7|               10|               13|                       16|               0|                          4|                  2|              3|                  0|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               50|   1|
|      1384|         1992|          Basic|   Casado(a)|    17256.0|           1|              0|   23-11-2013|                      10|                6|                4|               14|                        8|               8|                         22|                  2|              2|                  1|              2|                  8|               Sim|               Não|               Não|               Não|               Não|Sem reclamação|     1|               62|   1|
|      8312|         1961|          Basic|   Casado(a)|    28249.0|           0|              0|   15-06-2014|                      80|                1|                9|                7|                        2|              14|                         10|                  1|              2|                  0|              3|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|               43|   1|
|      1951|         1981|          Basic|   Casado(a)|    34445.0|           0|              0|   27-01-2013|                      92|              228|              122|              122|                      208|             129|                         30|                  6|             11|                  2|              8|                  9|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              839|   1|
+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+----+
only showing top 20 rows

In [ ]:
#Ordenando Ano de Nascimento usando row_number
w0 = Window.orderBy("Ano_Nacimento")
df2.withColumn("row_number", F.row_number().over(w0)).show()

+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+----------+
|ID_Cliente|Ano_Nacimento|       Educacao| Estado_Civil|Renda_Anual|Qts_Criancas|Qts_Adolecentes|Data_Cadastro|Dias_desde_ultima_compra|Qt_Vinho_Comprado|Qt_Fruta_Comprada|Qt_Carne_comprada|Qt_Produto_pesca_comprada|Qt_Doce_comprado|Qt_Produto_premiun_comprado|Qtd_Compra_desconto|Qtd_Compra_site|Qtd_Compra_Catálogo|Qtd_Compra_Loja|Qtd_Visita_site_mes|Aceitou_campanha_3|Aceitou_campanha_4|Aceitou_campanha_5|Aceitou_campanha_1|Aceitou_campanha_2|   Reclamacoes|Filhos|Valor das Compras|row_number|
+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+----------+
|     11004|         1893|   Ensino Médio|  Solteiro(a)|    60182.0|           0|              1|   17-05-2014|                      23|                8|                0|                5|                        7|               0|                          2|                  1|              1|                  0|              2|                  4|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               22|         1|
|      1150|         1899|      Doutorado|União Estável|    83532.0|           0|              0|   26-09-2013|                      36|              755|              144|              562|                      104|              64|                        224|                  1|              4|                  6|              4|                  1|               Não|               Não|               Sim|               Não|               Não|Sem reclamação|     0|             1853|         2|
|      7829|         1900|   Ensino Médio|Divorciado(a)|    36640.0|           1|              0|   26-09-2013|                      99|               15|                6|                8|                        7|               4|                         25|                  1|              2|                  1|              2|                  5|               Não|               Não|               Não|               Não|               Não|Com reclamação|     1|               65|         3|
|      6663|         1940|      Doutorado|  Solteiro(a)|    51141.0|           0|              0|   08-07-2013|                      96|              144|                0|                7|                        0|               0|                          6|                  1|              3|                  1|              4|                  5|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              157|         4|
|      6932|         1941|      Doutorado|    Casado(a)|    93027.0|           0|              0|   13-04-2013|                      77|             1285|               42|              716|                       55|               0|                         21|                  0|              7|                 10|              5|                  2|               Não|               Não|               Sim|               Não|               Não|Sem reclamação|     0|             2119|         5|
|      2968|         1943|      Doutorado|Divorciado(a)|    48948.0|           0|              0|   01-02-2013|                      53|              437|                8|              206|                      160|              49|                         42|                  2|              7|                 10|              5|                  6|               Sim|               Não|               Não|               Não|               Não|Sem reclamação|     0|              902|         6|
|      6142|         1943|       Mestrado|    Casado(a)|    65073.0|           0|              0|   20-08-2013|                      65|              629|               17|              177|                       69|               0|                          8|                  1|              5|                  3|              5|                  2|               Não|               Não|               Não|               Não|               Não|Com reclamação|     0|              900|         7|
|      7106|         1943|      Doutorado|    Casado(a)|    75865.0|           0|              0|   31-03-2014|                      73|              483|                0|              591|                      156|               0|                         12|                  1|              3|                  5|             10|                  1|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1242|         8|
|      8800|         1943|      Doutorado|Divorciado(a)|    48948.0|           0|              0|   01-02-2013|                      53|              437|                8|              206|                      160|              49|                         42|                  2|              7|                 10|              5|                  6|               Sim|               Não|               Não|               Não|               Não|Sem reclamação|     0|              902|         9|
|      1453|         1943|      Doutorado|     Viúvo(a)|    57513.0|           0|              0|   06-07-2013|                      59|              735|               40|              183|                       52|              20|                         30|                  2|              9|                  3|             13|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1060|        10|
|      4994|         1943|       Mestrado|  Solteiro(a)|    77598.0|           0|              0|   01-10-2013|                      53|             1193|               33|              281|                      129|              66|                         33|                  1|              7|                  5|             13|                  3|               Não|               Não|               Sim|               Não|               Não|Sem reclamação|     0|             1735|        11|
|      5250|         1943|       Mestrado|     Viúvo(a)|       null|           0|              0|   30-10-2013|                      75|              532|              126|              490|                      164|             126|                        126|                  1|              5|                  5|             11|                  1|               Não|               Não|               Sim|               Não|               Não|Sem reclamação|     0|             1564|        12|
|      3711|         1944|       Mestrado|    Casado(a)|    80184.0|           0|              0|   01-03-2014|                      19|             1035|              134|              670|                       25|              38|                          0|                  1|              6|                  3|             10|                  3|               Não|               Não|               Sim|               Sim|               Não|Sem reclamação|     0|             1902|        13|
|       466|         1944|Ensino Superior|    Casado(a)|    65275.0|           0|              0|   03-04-2013|                       9|              388|               14|              218|                       91|              14|                         21|                  1|              4|                  3|             13|                  2|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              746|        14|
|      4587|         1944|       Mestrado|     Viúvo(a)|    45006.0|           0|              0|   18-07-2013|                      90|              162|               25|               53|                       16|               0|                         10|                  1|              3|                  1|              7|                  3|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              266|        15|
|      6605|         1944|      Doutorado|Divorciado(a)|    55614.0|           0|              0|   27-11-2013|                      85|              504|               13|              131|                        8|               0|                         26|                  1|              9|                  4|              6|                  7|               Não|               Sim|               Não|               Não|               Não|Sem reclamação|     0|              682|        16|
|      9930|         1944|      Doutorado|  Solteiro(a)|    82716.0|           0|              0|   05-11-2013|                       8|              606|              148|              228|                       15|             148|                         22|                  1|              6|                  8|             13|                  2|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1167|        17|
|      1740|         1944|Ensino Superior|    Casado(a)|    55956.0|           0|              0|   07-04-2014|                      22|              760|               38|              104|                       50|               9|                         38|                  2|              7|                  3|              4|                  4|               Não|               Sim|               Não|               Não|               Não|Sem reclamação|     0|              999|        18|
|      4310|         1944|Ensino Superior|    Casado(a)|    80589.0|           0|              0|   22-01-2014|                      25|              507|               93|              520|                      242|              40|                         26|                  1|              5|                 10|              5|                  1|               Não|               Não|               Não|               Sim|               Não|Sem reclamação|     0|             1428|        19|
|      9260|         1945|      Doutorado|    Casado(a)|    70356.0|           0|              0|   05-11-2012|                      20|             1349|               16|              249|                       43|              16|                         33|                  2|             10|                  6|              9|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1706|        20|
+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+----------+
only showing top 20 rows

In [ ]:
#Mostrar como está o dataframe depois de todas as alterações
df2.show()

+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|ID_Cliente|Ano_Nacimento|       Educacao| Estado_Civil|Renda_Anual|Qts_Criancas|Qts_Adolecentes|Data_Cadastro|Dias_desde_ultima_compra|Qt_Vinho_Comprado|Qt_Fruta_Comprada|Qt_Carne_comprada|Qt_Produto_pesca_comprada|Qt_Doce_comprado|Qt_Produto_premiun_comprado|Qtd_Compra_desconto|Qtd_Compra_site|Qtd_Compra_Catálogo|Qtd_Compra_Loja|Qtd_Visita_site_mes|Aceitou_campanha_3|Aceitou_campanha_4|Aceitou_campanha_5|Aceitou_campanha_1|Aceitou_campanha_2|   Reclamacoes|Filhos|Valor das Compras|
+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|      5524|         1957|Ensino Superior|  Solteiro(a)|    58138.0|           0|              0|   04-09-2012|                      58|              635|               88|              546|                      172|              88|                         88|                  3|              8|                 10|              4|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1617|
|      2174|         1954|Ensino Superior|  Solteiro(a)|    46344.0|           1|              1|   08-03-2014|                      38|               11|                1|                6|                        2|               1|                          6|                  2|              1|                  1|              2|                  5|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     2|               27|
|      4141|         1965|Ensino Superior|União Estável|    71613.0|           0|              0|   21-08-2013|                      26|              426|               49|              127|                      111|              21|                         42|                  1|              8|                  2|             10|                  4|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              776|
|      6182|         1984|Ensino Superior|União Estável|    26646.0|           1|              0|   10-02-2014|                      26|               11|                4|               20|                       10|               3|                          5|                  2|              2|                  0|              4|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               53|
|      5324|         1981|      Doutorado|    Casado(a)|    58293.0|           1|              0|   19-01-2014|                      94|              173|               43|              118|                       46|              27|                         15|                  5|              5|                  3|              6|                  5|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              422|
|      7446|         1967|       Mestrado|União Estável|    62513.0|           0|              1|   09-09-2013|                      16|              520|               42|               98|                        0|              42|                         14|                  2|              6|                  4|             10|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              716|
|       965|         1971|Ensino Superior|Divorciado(a)|    55635.0|           0|              1|   13-11-2012|                      34|              235|               65|              164|                       50|              49|                         27|                  4|              7|                  3|              7|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              590|
|      6177|         1985|      Doutorado|    Casado(a)|    33454.0|           1|              0|   08-05-2013|                      32|               76|               10|               56|                        3|               1|                         23|                  2|              4|                  0|              4|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              169|
|      4855|         1974|      Doutorado|União Estável|    30351.0|           1|              0|   06-06-2013|                      19|               14|                0|               24|                        3|               3|                          2|                  1|              3|                  0|              2|                  9|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               46|
|      5899|         1950|      Doutorado|União Estável|     5648.0|           1|              1|   13-03-2014|                      68|               28|                0|                6|                        1|               1|                         13|                  1|              1|                  0|              0|                 20|               Sim|               Não|               Não|               Não|               Não|Sem reclamação|     2|               49|
|      1994|         1983|Ensino Superior|    Casado(a)|       null|           1|              0|   15-11-2013|                      11|                5|                5|                6|                        0|               2|                          1|                  1|              1|                  0|              2|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               19|
|       387|         1976|          Basic|    Casado(a)|     7500.0|           0|              0|   13-11-2012|                      59|                6|               16|               11|                       11|               1|                         16|                  1|              2|                  0|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|               61|
|      2125|         1959|Ensino Superior|Divorciado(a)|    63033.0|           0|              0|   15-11-2013|                      82|              194|               61|              480|                      225|             112|                         30|                  1|              3|                  4|              8|                  2|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1102|
|      8180|         1952|       Mestrado|Divorciado(a)|    59354.0|           1|              1|   15-11-2013|                      53|              233|                2|               53|                        3|               5|                         14|                  3|              6|                  1|              5|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     2|              310|
|      2569|         1987|Ensino Superior|    Casado(a)|    17323.0|           0|              0|   10-10-2012|                      38|                3|               14|               17|                        6|               1|                          5|                  1|              1|                  0|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|               46|
|      2114|         1946|      Doutorado|  Solteiro(a)|    82800.0|           0|              0|   24-11-2012|                      23|             1006|               22|              115|                       59|              68|                         45|                  1|              7|                  6|             12|                  3|               Não|               Não|               Sim|               Sim|               Não|Sem reclamação|     0|             1315|
|      9736|         1980|Ensino Superior|    Casado(a)|    41850.0|           1|              1|   24-12-2012|                      51|               53|                5|               19|                        2|              13|                          4|                  3|              3|                  0|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     2|               96|
|      4939|         1946|Ensino Superior|União Estável|    37760.0|           0|              0|   31-08-2012|                      20|               84|                5|               38|                      150|              12|                         28|                  2|              4|                  1|              6|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              317|
|      6565|         1949|       Mestrado|    Casado(a)|    76995.0|           0|              1|   28-03-2013|                      91|             1012|               80|              498|                        0|              16|                        176|                  2|             11|                  4|              9|                  5|               Não|               Não|               Não|               Sim|               Não|Sem reclamação|     1|             1782|
|      2278|         1985|   Ensino Médio|  Solteiro(a)|    33812.0|           1|              0|   03-11-2012|                      86|                4|               17|               19|                       30|              24|                         39|                  2|              2|                  1|              3|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              133|
+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
only showing top 20 rows

In [ ]:
#Salvando o arquivo no drive
#Marketing_pyspark1 = df2.write.format("csv").option("header", "true").option("inferschema", "true").option("delimiter", ",").save("/content/drive/MyDrive/Marketing_pyspark1.csv")

# **SparkSQL**

In [ ]:
#Importando um dataframe já limpo do Pyspark e Pandas
df3 = spark.read.format("csv") \
  .option("inferSchema", "true") \
  .option("header", "true") \
  .option("sep", ",") \
  .load("/content/drive/MyDrive/Marketing_pyspark1.csv/Marketing_pyspark1.csv") \
  .createOrReplaceTempView("Marketing")

In [ ]:
#Visualizando o dataframe com a função Select do sql.
spark.sql("SELECT * FROM Marketing").show(1)

+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|ID_Cliente|Ano_Nacimento|       Educacao|Estado_Civil|Renda_Anual|Qts_Criancas|Qts_Adolecentes|Data_Cadastro|Dias_desde_ultima_compra|Qt_Vinho_Comprado|Qt_Fruta_Comprada|Qt_Carne_comprada|Qt_Produto_pesca_comprada|Qt_Doce_comprado|Qt_Produto_premiun_comprado|Qtd_Compra_desconto|Qtd_Compra_site|Qtd_Compra_Catálogo|Qtd_Compra_Loja|Qtd_Visita_site_mes|Aceitou_campanha_3|Aceitou_campanha_4|Aceitou_campanha_5|Aceitou_campanha_1|Aceitou_campanha_2|   Reclamacoes|Filhos|Valor das Compras|
+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|      5524|         1957|Ensino Superior| Solteiro(a)|    58138.0|           0|              0|   04-09-2012|                      58|              635|               88|              546|                      172|              88|                         88|                  3|              8|                 10|              4|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1617|
+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
only showing top 1 row

In [ ]:
#Retora qual tipo de tabela posso melhor trabalhar, ajudando assim a fazer as filtragens
spark.sql("DESCRIBE Marketing ").show(30)

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|          ID_Cliente|      int|   null|
|       Ano_Nacimento|      int|   null|
|            Educacao|   string|   null|
|        Estado_Civil|   string|   null|
|         Renda_Anual|   double|   null|
|        Qts_Criancas|      int|   null|
|     Qts_Adolecentes|      int|   null|
|       Data_Cadastro|   string|   null|
|Dias_desde_ultima...|      int|   null|
|   Qt_Vinho_Comprado|      int|   null|
|   Qt_Fruta_Comprada|      int|   null|
|   Qt_Carne_comprada|      int|   null|
|Qt_Produto_pesca_...|      int|   null|
|    Qt_Doce_comprado|      int|   null|
|Qt_Produto_premiu...|      int|   null|
| Qtd_Compra_desconto|      int|   null|
|     Qtd_Compra_site|      int|   null|
| Qtd_Compra_Catálogo|      int|   null|
|     Qtd_Compra_Loja|      int|   null|
| Qtd_Visita_site_mes|      int|   null|
|  Aceitou_campanha_3|   string|   null|
|  Aceitou_campanha_4|   string|   null|
|  Aceitou_campanha_5|   string|   null|
|  Aceitou_campanha_1|   string|   null|
|  Aceitou_campanha_2|   string|   null|
|         Reclamacoes|   string|   null|
|              Filhos|      int|   null|
|   Valor das Compras|      int|   null|
+--------------------+---------+-------+

In [ ]:
#Verificando a quantidade de Filhos por Estado Civil utilizando a função "count", cotando todos os filhos listados em cada estado civil.
spark.sql("SELECT Estado_Civil, COUNT(Filhos) AS Filhos FROM Marketing GROUP BY Estado_Civil").show(10)

+-------------+------+
| Estado_Civil|Filhos|
+-------------+------+
|     Viúvo(a)|    77|
|Divorciado(a)|   232|
|    Casado(a)|   864|
|União Estável|   580|
|  Solteiro(a)|   483|
|         null|     4|
+-------------+------+

In [ ]:
#Verificando quais os clientes que aceitaram Campanha 5, utilizando a função "where" onde identificamos cada cliente que disse sim.
spark.sql("SELECT * FROM Marketing WHERE Aceitou_campanha_5 == 'Sim'").show(10)

+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|ID_Cliente|Ano_Nacimento|       Educacao| Estado_Civil|Renda_Anual|Qts_Criancas|Qts_Adolecentes|Data_Cadastro|Dias_desde_ultima_compra|Qt_Vinho_Comprado|Qt_Fruta_Comprada|Qt_Carne_comprada|Qt_Produto_pesca_comprada|Qt_Doce_comprado|Qt_Produto_premiun_comprado|Qtd_Compra_desconto|Qtd_Compra_site|Qtd_Compra_Catálogo|Qtd_Compra_Loja|Qtd_Visita_site_mes|Aceitou_campanha_3|Aceitou_campanha_4|Aceitou_campanha_5|Aceitou_campanha_1|Aceitou_campanha_2|   Reclamacoes|Filhos|Valor das Compras|
+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|      2114|         1946|      Doutorado|  Solteiro(a)|    82800.0|           0|              0|   24-11-2012|                      23|             1006|               22|              115|                       59|              68|                         45|                  1|              7|                  6|             12|                  3|               Não|               Não|               Sim|               Sim|               Não|Sem reclamação|     0|             1315|
|      1966|         1965|      Doutorado|    Casado(a)|    84618.0|           0|              0|   22-11-2013|                      96|              684|              100|              801|                       21|              66|                          0|                  1|              6|                  9|             10|                  2|               Não|               Não|               Sim|               Não|               Não|Sem reclamação|     0|             1672|
|      6260|         1955|       Mestrado|União Estável|    82384.0|           0|              0|   19-11-2012|                      55|              984|               51|              432|                      180|             120|                        190|                  1|              3|                 10|             13|                  1|               Não|               Não|               Sim|               Não|               Não|Sem reclamação|     0|             1957|
|      6853|         1982|       Mestrado|  Solteiro(a)|    75777.0|           0|              0|   04-07-2013|                      12|              712|               26|              538|                       69|              13|                         80|                  1|              3|                  6|             11|                  1|               Não|               Sim|               Sim|               Não|               Não|Sem reclamação|     0|             1438|
|      8504|         1973|Ensino Superior|    Casado(a)|    79593.0|           0|              0|   12-05-2014|                      70|              350|               60|              568|                      110|             133|                        145|                  1|              5|                  6|              7|                  2|               Não|               Não|               Sim|               Não|               Não|Sem reclamação|     0|             1366|
|       999|         1991|Ensino Superior|  Solteiro(a)|    86037.0|           0|              0|   02-01-2013|                      95|              490|               44|              125|                       29|              20|                         22|                  1|              6|                  7|             11|                  3|               Não|               Sim|               Sim|               Não|               Não|Sem reclamação|     0|              730|
|      1592|         1970|Ensino Superior|    Casado(a)|    90765.0|           0|              0|   24-01-2014|                      25|              547|               99|              812|                      151|              82|                         33|                  0|              4|                  6|              5|                  1|               Não|               Não|               Sim|               Sim|               Não|Sem reclamação|     0|             1724|
|      7215|         1983|Ensino Superior|  Solteiro(a)|   101970.0|           0|              0|   12-03-2013|                      69|              722|               27|              102|                       44|              72|                        168|                  0|              6|                  8|             13|                  2|               Não|               Sim|               Sim|               Sim|               Não|Sem reclamação|     0|             1135|
|     10240|         1949|Ensino Superior|União Estável|    69372.0|           0|              0|   19-02-2013|                      10|              997|               26|              269|                       34|              13|                         42|                  1|             10|                  4|              6|                  4|               Não|               Sim|               Sim|               Não|               Não|Sem reclamação|     0|             1381|
|      9938|         1954|Ensino Superior|    Casado(a)|    80067.0|           0|              0|   19-09-2013|                      82|              519|               17|              813|                       27|             173|                         51|                  1|              4|                  6|              6|                  2|               Não|               Não|               Sim|               Não|               Não|Sem reclamação|     0|             1600|
+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
only showing top 10 rows

In [ ]:
#Continuando com a função "Where" lozalizamos quais os clientes que compraram vinho e quantas vezes eles foram até a loja física.
spark.sql("SELECT * FROM Marketing WHERE Qt_Vinho_Comprado > 0 AND Qtd_Compra_Loja > 0").show()

+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|ID_Cliente|Ano_Nacimento|       Educacao| Estado_Civil|Renda_Anual|Qts_Criancas|Qts_Adolecentes|Data_Cadastro|Dias_desde_ultima_compra|Qt_Vinho_Comprado|Qt_Fruta_Comprada|Qt_Carne_comprada|Qt_Produto_pesca_comprada|Qt_Doce_comprado|Qt_Produto_premiun_comprado|Qtd_Compra_desconto|Qtd_Compra_site|Qtd_Compra_Catálogo|Qtd_Compra_Loja|Qtd_Visita_site_mes|Aceitou_campanha_3|Aceitou_campanha_4|Aceitou_campanha_5|Aceitou_campanha_1|Aceitou_campanha_2|   Reclamacoes|Filhos|Valor das Compras|
+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|      5524|         1957|Ensino Superior|  Solteiro(a)|    58138.0|           0|              0|   04-09-2012|                      58|              635|               88|              546|                      172|              88|                         88|                  3|              8|                 10|              4|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1617|
|      2174|         1954|Ensino Superior|  Solteiro(a)|    46344.0|           1|              1|   08-03-2014|                      38|               11|                1|                6|                        2|               1|                          6|                  2|              1|                  1|              2|                  5|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     2|               27|
|      4141|         1965|Ensino Superior|União Estável|    71613.0|           0|              0|   21-08-2013|                      26|              426|               49|              127|                      111|              21|                         42|                  1|              8|                  2|             10|                  4|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              776|
|      6182|         1984|Ensino Superior|União Estável|    26646.0|           1|              0|   10-02-2014|                      26|               11|                4|               20|                       10|               3|                          5|                  2|              2|                  0|              4|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               53|
|      5324|         1981|      Doutorado|    Casado(a)|    58293.0|           1|              0|   19-01-2014|                      94|              173|               43|              118|                       46|              27|                         15|                  5|              5|                  3|              6|                  5|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              422|
|      7446|         1967|       Mestrado|União Estável|    62513.0|           0|              1|   09-09-2013|                      16|              520|               42|               98|                        0|              42|                         14|                  2|              6|                  4|             10|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              716|
|       965|         1971|Ensino Superior|Divorciado(a)|    55635.0|           0|              1|   13-11-2012|                      34|              235|               65|              164|                       50|              49|                         27|                  4|              7|                  3|              7|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              590|
|      6177|         1985|      Doutorado|    Casado(a)|    33454.0|           1|              0|   08-05-2013|                      32|               76|               10|               56|                        3|               1|                         23|                  2|              4|                  0|              4|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              169|
|      4855|         1974|      Doutorado|União Estável|    30351.0|           1|              0|   06-06-2013|                      19|               14|                0|               24|                        3|               3|                          2|                  1|              3|                  0|              2|                  9|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               46|
|      1994|         1983|Ensino Superior|    Casado(a)|       null|           1|              0|   15-11-2013|                      11|                5|                5|                6|                        0|               2|                          1|                  1|              1|                  0|              2|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               19|
|       387|         1976|          Basic|    Casado(a)|     7500.0|           0|              0|   13-11-2012|                      59|                6|               16|               11|                       11|               1|                         16|                  1|              2|                  0|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|               61|
|      2125|         1959|Ensino Superior|Divorciado(a)|    63033.0|           0|              0|   15-11-2013|                      82|              194|               61|              480|                      225|             112|                         30|                  1|              3|                  4|              8|                  2|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1102|
|      8180|         1952|       Mestrado|Divorciado(a)|    59354.0|           1|              1|   15-11-2013|                      53|              233|                2|               53|                        3|               5|                         14|                  3|              6|                  1|              5|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     2|              310|
|      2569|         1987|Ensino Superior|    Casado(a)|    17323.0|           0|              0|   10-10-2012|                      38|                3|               14|               17|                        6|               1|                          5|                  1|              1|                  0|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|               46|
|      2114|         1946|      Doutorado|  Solteiro(a)|    82800.0|           0|              0|   24-11-2012|                      23|             1006|               22|              115|                       59|              68|                         45|                  1|              7|                  6|             12|                  3|               Não|               Não|               Sim|               Sim|               Não|Sem reclamação|     0|             1315|
|      9736|         1980|Ensino Superior|    Casado(a)|    41850.0|           1|              1|   24-12-2012|                      51|               53|                5|               19|                        2|              13|                          4|                  3|              3|                  0|              3|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     2|               96|
|      4939|         1946|Ensino Superior|União Estável|    37760.0|           0|              0|   31-08-2012|                      20|               84|                5|               38|                      150|              12|                         28|                  2|              4|                  1|              6|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              317|
|      6565|         1949|       Mestrado|    Casado(a)|    76995.0|           0|              1|   28-03-2013|                      91|             1012|               80|              498|                        0|              16|                        176|                  2|             11|                  4|              9|                  5|               Não|               Não|               Não|               Sim|               Não|Sem reclamação|     1|             1782|
|      2278|         1985|   Ensino Médio|  Solteiro(a)|    33812.0|           1|              0|   03-11-2012|                      86|                4|               17|               19|                       30|              24|                         39|                  2|              2|                  1|              3|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              133|
|      9360|         1982|Ensino Superior|    Casado(a)|    37040.0|           0|              0|   08-08-2012|                      41|               86|                2|               73|                       69|              38|                         48|                  1|              4|                  2|              5|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              316|
+----------+-------------+---------------+-------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
only showing top 20 rows

In [ ]:
#Com a função "Where" e "Like", encontramos todos os nossos clientes Solteiros, assim podemos saber quanto e como compram.
spark.sql("SELECT * FROM Marketing WHERE Estado_Civil LIKE  'S%'").show()

+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|ID_Cliente|Ano_Nacimento|       Educacao|Estado_Civil|Renda_Anual|Qts_Criancas|Qts_Adolecentes|Data_Cadastro|Dias_desde_ultima_compra|Qt_Vinho_Comprado|Qt_Fruta_Comprada|Qt_Carne_comprada|Qt_Produto_pesca_comprada|Qt_Doce_comprado|Qt_Produto_premiun_comprado|Qtd_Compra_desconto|Qtd_Compra_site|Qtd_Compra_Catálogo|Qtd_Compra_Loja|Qtd_Visita_site_mes|Aceitou_campanha_3|Aceitou_campanha_4|Aceitou_campanha_5|Aceitou_campanha_1|Aceitou_campanha_2|   Reclamacoes|Filhos|Valor das Compras|
+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
|      5524|         1957|Ensino Superior| Solteiro(a)|    58138.0|           0|              0|   04-09-2012|                      58|              635|               88|              546|                      172|              88|                         88|                  3|              8|                 10|              4|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|             1617|
|      2174|         1954|Ensino Superior| Solteiro(a)|    46344.0|           1|              1|   08-03-2014|                      38|               11|                1|                6|                        2|               1|                          6|                  2|              1|                  1|              2|                  5|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     2|               27|
|      2114|         1946|      Doutorado| Solteiro(a)|    82800.0|           0|              0|   24-11-2012|                      23|             1006|               22|              115|                       59|              68|                         45|                  1|              7|                  6|             12|                  3|               Não|               Não|               Sim|               Sim|               Não|Sem reclamação|     0|             1315|
|      2278|         1985|   Ensino Médio| Solteiro(a)|    33812.0|           1|              0|   03-11-2012|                      86|                4|               17|               19|                       30|              24|                         39|                  2|              2|                  1|              3|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              133|
|      7892|         1969|Ensino Superior| Solteiro(a)|    18589.0|           0|              0|   02-01-2013|                      89|                6|                4|               25|                       15|              12|                         13|                  2|              2|                  1|              3|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|               75|
|      5255|         1986|Ensino Superior| Solteiro(a)|       null|           1|              0|   20-02-2013|                      19|                5|                1|                3|                        3|             263|                        362|                  0|             27|                  0|              0|                  1|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              637|
|     10738|         1951|       Mestrado| Solteiro(a)|    49389.0|           1|              1|   29-08-2013|                      55|               40|                0|               19|                        2|               1|                          3|                  1|              2|                  0|              3|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     2|               65|
|      7281|         1959|      Doutorado| Solteiro(a)|       null|           0|              0|   05-11-2013|                      80|               81|               11|               50|                        3|               2|                         39|                  1|              1|                  3|              4|                  2|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              186|
|      1371|         1976|Ensino Superior| Solteiro(a)|    79941.0|           0|              0|   28-06-2014|                      72|              123|              164|              266|                      227|              30|                        174|                  1|              2|                  4|              9|                  1|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     0|              984|
|      7244|         1951|Ensino Superior| Solteiro(a)|       null|           2|              1|   01-01-2014|                      96|               48|                5|               48|                        6|              10|                          7|                  3|              2|                  1|              4|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     3|              124|
|      1331|         1977|Ensino Superior| Solteiro(a)|    35790.0|           1|              0|   02-01-2013|                      54|               12|                6|               20|                       30|               1|                          3|                  2|              2|                  0|              3|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               72|
|      7437|         1988|Ensino Superior| Solteiro(a)|    27938.0|           1|              0|   28-04-2014|                      31|               13|                0|                8|                        2|               1|                          5|                  1|              1|                  0|              4|                  3|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               29|
|      8557|         1982|Ensino Superior| Solteiro(a)|       null|           1|              0|   17-06-2013|                      57|               11|                3|               22|                        2|               2|                          6|                  2|              2|                  0|              3|                  6|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|               46|
|      6853|         1982|       Mestrado| Solteiro(a)|    75777.0|           0|              0|   04-07-2013|                      12|              712|               26|              538|                       69|              13|                         80|                  1|              3|                  6|             11|                  1|               Não|               Sim|               Sim|               Não|               Não|Sem reclamação|     0|             1438|
|      1012|         1952|Ensino Superior| Solteiro(a)|    61823.0|           0|              1|   18-02-2013|                      26|              523|                7|              134|                       37|              14|                        169|                  4|              8|                  2|             10|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              884|
|      9369|         1979|   Ensino Médio| Solteiro(a)|    88194.0|           0|              1|   19-03-2014|                      19|              688|               14|              309|                      201|              24|                         38|                  1|             11|                 10|             10|                  5|               Sim|               Não|               Não|               Sim|               Não|Sem reclamação|     1|             1274|
|      7503|         1976|Ensino Superior| Solteiro(a)|    75825.0|           0|              0|   12-10-2012|                      40|             1032|              105|              779|                      137|             105|                         51|                  0|              5|                  8|              9|                  4|               Sim|               Não|               Não|               Não|               Não|Sem reclamação|     0|             2209|
|      3332|         1985|Ensino Superior| Solteiro(a)|    29760.0|           1|              0|   29-08-2012|                      87|               64|                4|               68|                        7|               5|                         17|                  4|              3|                  1|              4|                  8|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     1|              165|
|      4452|         1957|Ensino Superior| Solteiro(a)|    50388.0|           0|              1|   28-05-2014|                       3|              292|                6|               37|                        0|               3|                         34|                  4|              6|                  1|              6|                  7|               Não|               Sim|               Não|               Sim|               Não|Sem reclamação|     1|              372|
|      9235|         1957|Ensino Superior| Solteiro(a)|       null|           1|              1|   27-05-2014|                      45|                7|                0|                8|                        2|               0|                          1|                  1|              1|                  0|              2|                  7|               Não|               Não|               Não|               Não|               Não|Sem reclamação|     2|               18|
+----------+-------------+---------------+------------+-----------+------------+---------------+-------------+------------------------+-----------------+-----------------+-----------------+-------------------------+----------------+---------------------------+-------------------+---------------+-------------------+---------------+-------------------+------------------+------------------+------------------+------------------+------------------+--------------+------+-----------------+
only showing top 20 rows

In [ ]:
# Sabemos a data de cadastro dos clientes sem repetições, a empresa pode enviar cartões ou descontros especiais  de aniversário fidelidade, utilo a função "Distinct" para realizar essa filtragem. 
spark.sql("SELECT DISTINCT Data_Cadastro FROM Marketing").show()

+-------------+
|Data_Cadastro|
+-------------+
|   12-09-2012|
|   27-12-2013|
|   03-08-2012|
|   14-01-2013|
|   13-11-2013|
|   03-02-2013|
|   15-08-2013|
|   06-05-2013|
|   07-10-2012|
|   28-07-2013|
|   02-03-2013|
|   14-03-2013|
|   23-08-2012|
|   16-06-2014|
|   27-12-2012|
|   28-05-2014|
|   04-02-2014|
|   18-08-2012|
|   19-08-2013|
|   12-03-2014|
+-------------+
only showing top 20 rows

In [ ]:
#Utilizamo a fução "Count" "Where" "GroupBy" para para saber qual o melhor consumo de um cliente, selecionamos os divorciados com filhos e podemos fazer comparações com outros clientes.
spark.sql("SELECT Estado_Civil, COUNT(Filhos) AS QTS_FILHOS FROM Marketing WHERE Estado_Civil == 'Divorciado(a)' GROUP BY Estado_Civil").show()

+-------------+----------+
| Estado_Civil|QTS_FILHOS|
+-------------+----------+
|Divorciado(a)|       232|
+-------------+----------+

In [ ]:
#Utilizando a Educaçao como parametro, verifico a Soma da renda, a Renda mínima, a Máxima e a média de cada cliente pela sua educação, dessa forma pode-se melhor ofertar para cada tipo de cliente.
spark.sql("SELECT Educacao, SUM(Renda_Anual) AS SOMA_RENDA, MIN(Renda_Anual) AS MIN_RENDA, MAX(Renda_Anual) AS MAX_RENDA, ROUND(MEAN(Renda_Anual), 2) AS MEDIA_RENDA FROM Marketing GROUP BY Educacao ORDER BY Educacao").show()

+---------------+-----------+---------+---------+-----------+
|       Educacao| SOMA_RENDA|MIN_RENDA|MAX_RENDA|MEDIA_RENDA|
+---------------+-----------+---------+---------+-----------+
|          Basic|  1096538.0|   7500.0|  34445.0|   20306.26|
|      Doutorado|2.7005896E7|   4023.0| 162397.0|   56145.31|
|   Ensino Médio|  9526638.0|   7500.0|  96547.0|   47633.19|
|Ensino Superior|5.8835937E7|   1730.0| 666666.0|   52720.37|
|       Mestrado|  1.93149E7|   6560.0| 157733.0|   52917.53|
+---------------+-----------+---------+---------+-----------+

In [ ]:
#Utilizando a função "Count" "Where" "GoupBy"para termos um parametro de quantos clientes aceitaram a campanha 4 e compraram pelo site.
spark.sql("SELECT Aceitou_campanha_4, COUNT(Qtd_Compra_site) AS QTD_COMPRA_SITE FROM Marketing WHERE Aceitou_campanha_4 == 'Sim' GROUP BY Aceitou_campanha_4").show()

In [ ]:
#Utilizando o "Where" descobrimos quantas visitas no site geraram vendas com descontos.
spark.sql("SELECT Qtd_Compra_desconto FROM Marketing WHERE Qtd_Visita_site_mes > 0").show()